table {
  width: 100%;
}

.description-col {
  width: 50% !important;
  /* -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 33px;
  text-overflow: ellipsis;
  overflow: hidden; */
}

table td,
table th {
  padding: 10px;
}
