<div class="container py-5">
  <div class="cart-card">
    <div class="head-row p-4">
      <div><h3 style="font-weight: bold">Cart</h3></div>
      <div>
        <button class="mybtn-1" (click)="checkout()">
          Checkout <mat-icon>shopping_cart_checkout</mat-icon>
        </button>
      </div>
    </div>
    <div class="row text-muted p-3" style="font-weight: bold">
      <div class="col-5">PRODUCT</div>
      <div class="col-5">PRICE</div>
      <div class="col-2">DELETE</div>
    </div>
    <div class="row p-3" *ngFor="let element of cartDetails">
      <div class="col-5" style="font-weight: bold">
        {{ element.product.productName }}
      </div>
      <div class="col-5" style="font-weight: bold">
        {{ element.product.productDiscountedPrice | currency }}
      </div>
      <div class="col-2">
        <div class="">
          <button class="mybtn-2" (click)="delete(element.cartId)">
            <i class="fa-solid fa-trash"></i>
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
