<div class="container">
  <div class="head-row">
    <span>
      <img src="assets/robotic-hand.png" height="45px" alt="" />
    </span>
    <h1 class="text-center">
      We Make Technology Easy And Available At Your Door!
    </h1>
    <span>
      <img src="assets/laptop.png" height="45px" alt="" />
    </span>
  </div>
  <div class="grid-row">
    <div class="div1 mt-4">
      <div class="row">
        <div class="col-6">
          <p style="font-size: 16px; margin-bottom: 0px">We strive to offer</p>
          <p
            style="
              font-size: 22px;
              font-weight: bold;
              text-transform: uppercase;

              margin-bottom: 70px;
            "
          >
            exceptional customer service and expert advice
          </p>
          <img
            src="assets/about/about3.jpg"
            width="230px"
            style="border-radius: 10px"
          />
        </div>
        <div class="col-6">
          <img
            src="assets/distributed.png"
            height="45px"
            alt=""
            style="margin-bottom: 70px"
          />
          <img
            src="assets/about/about1.jpg"
            width="230px"
            style="border-radius: 10px; margin-bottom: 10px"
          />
          <img
            src="assets/about/about2.jpg"
            width="230px"
            style="border-radius: 10px"
          />
        </div>
        <p>
          <img
            src="assets/inverted-commas.png"
            height="50px"
            alt=""
            style="margin-bottom: 20px"
          />
          <br />
          <b>
            I am extremely impressed with the level of expertise and
            personalized attention I received at your tech store. Your staff's
            commitment to ensuring I made an informed decision is truly
            appreciated.
          </b>
          <img
            src="assets/laptop.png"
            height="50px"
            alt=""
            style="margin-left: 330px"
          />
          <br />
          <img
            src="assets/signature.png"
            height="60px"
            alt=""
            style="margin-bottom: 20px"
          />
        </p>
      </div>
    </div>
    <div class="div2 text-center">
      <img src="assets/star-symbol.png" height="50px" class="star-img" />

      <img
        src="assets/about/about8.jpg"
        height="450px"
        style="border-radius: 10px; margin-bottom: 10px"
      />
    </div>
    <div class="div3">
      <div class="row">
        <div class="col-6" style="margin-top: 145px">
          <img
            src="assets/about/about4.jpg"
            width="230px"
            style="border-radius: 10px; margin-bottom: 10px"
          />
          <img
            src="assets/about/about5.jpg"
            width="230px"
            style="border-radius: 10px"
          />
        </div>
        <div class="col-6 flex-center">
          <div class="circle">
            <p>Innovation meets your needs.</p>
          </div>

          <img
            src="assets/about/about6.jpg"
            width="230px"
            style="border-radius: 10px; position: absolute; top: 230px"
          />
        </div>
        <p class="mt-5">
          <br />
          <b>
            Discover a world of cutting-edge gadgets and devices at our
            technology store.
          </b>
          <br />
        </p>
      </div>
    </div>
  </div>
</div>
