<!-- Start Orders Table -->
<div class="orders p-20 bg-white rad-10 m-20">
  <div class="orders-head mb-20">
    <h2 class="fw-bold">Orders</h2>
    <div class="mb-3 d-flex justify-content-end">
      <mat-button-toggle-group aria-label="Font Style">
        <mat-button-toggle
          value="all"
          (click)="getAllOrderDetailsForAdmin('all')"
          >All</mat-button-toggle
        >
        <mat-button-toggle
          value="Placed"
          (click)="getAllOrderDetailsForAdmin('Placed')"
          >Placed</mat-button-toggle
        >
        <mat-button-toggle
          value="Delivered"
          (click)="getAllOrderDetailsForAdmin('Delivered')"
          >Delivered</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="responsive-table">
    <table class="fs-15 w-full">
      <thead>
        <tr>
          <td>Id</td>
          <td>Product</td>
          <td>User Full Name</td>
          <td>User Address</td>
          <td>Contact Number</td>
          <td>Status</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of dataSource">
          <td>{{ element.orderId }}</td>
          <td>{{ element.product.productName }}</td>
          <td>
            {{ element.user.userFirstName }} {{ element.user.userLastName }}
          </td>
          <td>{{ element.orderFullOrder }}</td>
          <td>{{ element.orderContactNumber }}</td>
          <td>
            <span
              [ngClass]="{
                delivered: element.orderStatus == 'Delivered',
                placed: element.orderStatus == 'Placed'
              }"
              class="label status"
              >{{ element.orderStatus }}</span
            >
          </td>

          <td class="action-td">
            <button
              *ngIf="element.orderStatus == 'Placed'"
              class="mybtn-2"
              (click)="markAsDelivered(element.orderId)"
            >
              Make as Delivered <i class="fa-solid fa-truck"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- End Orders Table -->
