@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

.register-page {
  background-color: #efefef;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 46px;
}
.register-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-head {
  padding: 35px;
  font-size: 21px;
  font-weight: bold;
  display: flex;
}
.form-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
}
.form-cont span:first-child {
  font-weight: bold;
  font-size: 30px;
}
.register-card .form {
  width: 450px;
  height: 675px;
}
form {
  padding: 20px 60px;
}
p {
  margin: 0 !important;
}
.create-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
}
.mylabel {
  font-size: 15px;
}
