<section class="ftco-section">
  <h2>We &nbsp; <mat-icon>favorite</mat-icon> &nbsp; a Best Seller!</h2>
  <button class="mybtn-1">Shop Now</button>
</section>
<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer-heading">
          <a href="#" class="logo">OnlineShop</a>
        </h2>
        <p class="menu">
          <a href="#">Home</a>
          <a href="#">Agent</a>
          <a href="#">About</a>
          <a href="#">Listing</a>
          <a href="#">Blog</a>
          <a href="#">Contact</a>
        </p>
        <ul class="ftco-footer-social p-0">
          <li class="ftco-animate">
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Twitter"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li class="ftco-animate">
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Facebook"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
          <li class="ftco-animate">
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Instagram"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p class="copyright">
          Copyright &copy; All rights reserved | This template is made with
          <i class="ion-ios-heart" aria-hidden="true"></i> by
          <a href="https://OnlineShop" target="_blank">OnlineShop</a>
        </p>
      </div>
    </div>
  </div>
</footer>
