<nav>
  <div class="logo" routerLink="/">
    <img src="assets/logo.png" alt="" width="50px" class="me-2" />
    <h1>
      <span>OnlineShop</span>
    </h1>
  </div>
  <div>
    <ul>
      <li><a routerLink="/"> Home </a></li>
      <li><a href="#"> About </a></li>
      <li><a href="#"> Contact Us </a></li>
    </ul>
  </div>
  <div class="buttons" *ngIf="isLoggedIn()">
    <button *ngIf="isUser()" routerLink="/myOrders" class="me-4">
      <mat-icon class="me-1">person</mat-icon>
      Account
    </button>
    <button *ngIf="isUser()" routerLink="/cart" class="me-4">
      <mat-icon class="me-1">shopping_cart</mat-icon>
      Cart
    </button>
    <button (click)="logout()">
      <mat-icon class="me-1">logout</mat-icon>
      Logout
    </button>
  </div>
  <div class="buttons" *ngIf="!isLoggedIn()">
    <button routerLink="/login">
      <mat-icon class="me-1">input</mat-icon>
      Login
    </button>
  </div>
</nav>
