<mat-toolbar color="primary">
  <span routerLink="/"> Ecommerce Application </span>
  <span class="space-buttons"></span>
  <button
    mat-raised-button
    color="primary"
    *ngIf="!isLoggedIn()"
    routerLink="/login"
  >
    Login
  </button>
  <button
    mat-raised-button
    color="warn"
    *ngIf="isLoggedIn()"
    (click)="logout()"
  >
    Logout
  </button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button *ngIf="isUser()" mat-raised-button routerLink="/cart" class="ms-2">
    Cart
  </button>
  <button
    *ngIf="isUser()"
    mat-raised-button
    color="warn"
    routerLink="/myOrders"
    class="ms-2"
  >
    My Orders
  </button>
  <button
    *ngIf="isAdmin()"
    mat-raised-button
    color="primary"
    routerLink="/addNewProduct"
    class="ms-2"
  >
    Add New Product
  </button>
  <button
    *ngIf="isAdmin()"
    mat-raised-button
    color="primary"
    routerLink="/showProductDetails"
    class="ms-2"
  >
    Show Product Details
  </button>
  <button
  *ngIf="isAdmin()"
  mat-raised-button
  color="warn"
  routerLink="/orderInformation"
  class="ms-2"
>
  Orders
</button>
</mat-toolbar>
