<div class="add-card">
  <div class="row">
    <div class="col-6 px-4">
      <div class="title">
        <i class="fa-solid fa-circle-info"></i> Product infos
      </div>
      <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Name</mat-label>
          <input
            matInput
            placeholder="Product Name"
            [(ngModel)]="product.productName"
            name="productName"
            id="productName"
            required
          />
          <mat-error
            *ngIf="productForm.controls['productName']?.errors?.required"
          >
            Product Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Description</mat-label>
          <input
            matInput
            placeholder="Product Description"
            [(ngModel)]="product.productDescription"
            name="productDescription"
            required
          />
          <mat-error
            *ngIf="
              productForm.controls['productDescription']?.hasError('required')
            "
          >
            Product Description is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Actual Price</mat-label>
          <input
            matInput
            placeholder="Product Actual Price"
            [(ngModel)]="product.productActualPrice"
            name="productActualPrice"
            required
          />
          <mat-error
            *ngIf="
              productForm.controls['productActualPrice']?.hasError('required')
            "
          >
            Product Actual Price is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Discounted Price</mat-label>
          <input
            matInput
            placeholder="Product Discounted Price"
            [(ngModel)]="product.productDiscountedPrice"
            name="productDiscountedPrice"
            required
          />
          <mat-error
            *ngIf="
              productForm.controls['productDiscountedPrice']?.hasError(
                'required'
              )
            "
          >
            Product Discounted Price is required
          </mat-error>
        </mat-form-field>
        <div class="d-flex justify-content-end gap-3">
          <button
            type="button"
            class="admin-btn2 me-1"
            (click)="clear(productForm)"
          >
            Clear
          </button>
          <button
            class="admin-btn1"
            type="submit"
            *ngIf="isNewProduct"
            [disabled]="!productForm.valid || fileInputError"
            [class.disabled-button]="!productForm.valid || fileInputError"
          >
            Add product
          </button>
          <button
            class="admin-btn1"
            type="submit"
            *ngIf="!isNewProduct"
            [disabled]="!productForm.valid || fileInputError"
            [class.disabled-button]="!productForm.valid || fileInputError"
          >
            Update product
          </button>
        </div>
      </form>
    </div>
    <div class="col-6 px-4">
      <div class="title"><i class="fa-solid fa-image"></i> Product images</div>
      <div class="dropzone" appDrag (files)="fileDropped($event)">
        <div class="text-wrapper">
          Drag and Drop or
          <a (click)="selectFile.click()" class="browse-btn"
            >Browse &nbsp; <i class="fa-solid fa-cloud-arrow-up"></i
          ></a>
          your file.
        </div>
      </div>
      <div *ngIf="fileInputError" class="text-danger">
        You must select at least 1 file.
      </div>
      <input
        type="file"
        multiple
        value="select"
        #selectFile
        (change)="onFileSelected($event)"
        style="display: none"
      />
      <div class="mt-2 px-3">
        <div class="row">
          <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile
              *ngFor="let file of product.productImages; let i = index"
              class="ml-1"
            >
              <div style="position: relative">
                <span class="btn-remove-img" (click)="removeImage(i)">
                  <i
                    class="fa-solid fa-circle-xmark"
                    style="font-size: 16px; color: crimson"
                  ></i>
                </span>
                <img [src]="file.url" height="100px" />
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
  </div>
</div>
