<div class="login-page">
  <div class="login-card">
    <div class="form">
      <div class="form-head">
        <img src="assets/shopping-bag.png" height="35px" alt="" />
        <span>OnlineShop</span>
      </div>
      <div class="form-cont">
        <span>Welcome Back!</span>
        <span>We have missed you</span>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="w-100 mb-3">
          <label class="mylabel mb-1">Username</label>
          <input
            ngModel
            name="userName"
            id="userName"
            placeholder="Username"
            class="myinput"
          />
        </div>
        <div class="w-100 mb-3">
          <label class="mylabel mb-1">Password</label>
          <input
            ngModel
            name="userPassword"
            id="userPassword"
            placeholder="Password"
            type="password"
            class="myinput"
          />
        </div>
        <div class="w-100 mb-3 d-flex justify-content-between">
          <div>
            <input type="checkbox" />
            <label for="">Remember me</label>
          </div>
          <p style="cursor: pointer">Forgot password</p>
        </div>
        <button type="submit" class="mybtn-1 w-100">Sign in</button>
        <div class="text-center">
          <br />
          Don't Have an account ?
          <button class="create-btn" type="button" (click)="registerUser()">
            Create an account
          </button>
        </div>
      </form>
    </div>
    <div>
      <img src="assets/welcome.jpg" width="450px" alt="" />
    </div>
  </div>
</div>
