<div class="container mt-5 w-50 py-5">
  <div class="card p-5">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Username</mat-label>
        <input
          matInput
          ngModel
          name="userName"
          id="userName"
          placeholder="Username"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>First Name</mat-label>
        <input
          matInput
          ngModel
          name="userFirstName"
          id="userFirstName"
          placeholder="First Name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          ngModel
          name="userLastName"
          id="userLastName"
          placeholder="Last Name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input
          matInput
          ngModel
          name="userPassword"
          id="userPassword"
          placeholder="Password"
          type="password"
        />
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" class="w-100">
        Register
      </button>
    </form>
  </div>
  <!-- 
    <div class="text-center">
     <br>
     <button mat-raised-button type="button" (click)="registerUser()">Create an account</button>
    </div> 
  -->
</div>
